<?xml version="1.0" encoding="UTF-8"?>

   <beans xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
   xmlns:p="http://www.springframework.org/schema/p" 
   xmlns:context="http://www.springframework.org/schema/context"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
   xmlns="http://www.springframework.org/schema/beans">
   
   <bean name="student"  class="com.jspiders.mavencollection.Student">
   <property name="regno" value="111"></property>
   <property name="name" value="Anil"></property>
   <property name="marks" value="99.99"></property>
    
    <property name="subjects">
    
    <list>
    <value>core java </value>
    <value>SQL </value>
    <value>web t</value>
    <value>Advance java </value>
    </list>
    </property>
  
    </bean>
  
    </beans>